:root {
  --home-background: #fdf5e3;
  --container-p-padding: 20px;
}

.bg-img {
  /* The image used */
  background-image: url("../../asset/img/home2.jpg");
  /* Create the parallax scrolling effect */
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  margin: 10px;
}

#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact {
  background: #fdf5e3;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 690px) {
  #contact-container {
    flex-direction: column;
  }

  .contact {
    width: 100%;
  }
}

.contact img {
  height: 150px;
  width: auto;
  margin: auto;
}

.contact-img-bg {
  border-radius: 50%;
  background: white;
  margin: auto;
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
}

.contact-img-bg:hover {
  transform: scale(1.5);
}

.home {
  background: var(--home-background);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bg-img p {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  left: 50%;
  font-size: 20em;
  text-shadow: black;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: rgb(95, 113, 160);
  font-family: "Gotham Rounded";
}

html {
  background: var(--home-background);
}

.home .container {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background: var(--home-background);
  max-height: min-content;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-self: center;
}

.home .container-reversed {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background: var(--home-background);
  max-height: min-content;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-self: center;
}

.home .container p {
  width: 100%;
  padding: var(--container-p-padding);
  text-align: center;
}

@media (max-width: 690px) {
  .home .container {
    flex-direction: column;
  }

  .home .container-reversed {
    flex-direction: column-reverse;
  }

  img {
    width: 100%;
    border-radius: 0;
  }

  .home .container p {
    width: 100%;
  }

  .home .container-reversed p {
    width: 100%;
    padding: var(--container-p-padding);
    text-align: center;
  }
}

.title {
  text-align: center;
  color: black;
}

.avatar-img {
  width: auto;
  height: 200px;
  margin: 10px;
}

#social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

.social {
  margin: 20px;
  transition: transform 0.2s;
}

.social:hover {
  transform: scale(1.5);
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
