:root {
  --link-color: white;
  --background: rgba(30, 30, 30, 0.4);
}

/* home-home-navbar container */
.home-navbar {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  height: auto;
  position: fixed;
  min-height: 200px;
}

/* Links inside the home-navbar */
.home-navbar a {
  float: left;
  font-size: 16px;
  color: var(--link-color);
  background-color: var(--background);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The home-navbar-dropdown container */
.home-navbar-dropdown {
  background-color: var(--background);
  float: left;
  overflow: hidden;
}

/* home-navbar-dropdown button */
.home-navbar-dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--link-color);
  padding: 14px 16px;
  background-color: transparent;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.home-navbar-dropdown:hover .dropbtn {
  background-color: black;
}

/* Add a red background color to home-navbar links on hover */
.home-navbar a:hover {
  background: black;
}

/* home-navbar-dropdown content (hidden by default) */
.home-navbar-dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--background);
  z-index: 999;
}

/* Links inside the home-navbar-dropdown */
.home-navbar-dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dec-bar {
  width: 100%;
  color: transparent;
  height: 2px;
}

/* Add a grey background color to home-navbar-dropdown links on hover */
.home-navbar-dropdown-content a:hover {
  background-color: black;
}

/* Show the home-navbar-dropdown menu on hover */
.home-navbar-dropdown:hover .home-navbar-dropdown-content {
  display: block;
}
